.main-window {
  background-color: Linen;
}
.vfo-a-label {
  font-family: FreeSans;
  font-size: 28px;
  color: Lime;
  min-width: 180px;
}
.vfo-b-label {
  font-family: FreeSans;
  font-size: 28px;
  color: Lime;
  min-width: 180px;
}
.vfo-tx-label {
  font-family: FreeSans;
  font-size: 28px;
  color: red;
  min-width: 180px;
}
.active-button {
  color: black;
  background-color: orange;
  background-image: none;
}
.inactive-button {
  color: white;
  background-color: black;
  background-image: none;
}
.toggle {
  color: white;
  background-color: black;
  background-image: none;
}
.toggle:checked {
  color: black;
  background-color: orange;
  background-image: none;
}
.basic-button {
  color: white;
  background-color: black;
  background-image: none;
}
.basic-frame {
  color: white;
  background-color: black;
  background-image: none;
}
.tx-button {
  color: white;
  background-color: black;
  background-image: none;
}
.tx-button:checked {
  color: black;
  background-color: red;
  background-image: none;
}
